@model AssignKlantToJobViewModel
@{
	ViewData["Title"] = "Assign";
}


<h1> Vacature "@Model.JobOmschrijving"</h1>

<form asp-action="Assign" method="post">
	<label asp-for="KlantId" class="control-label">Selecteer een klant:</label>
	<select asp-for="KlantId" class="form-control" asp-items="Model.Klanten"></select>

	<div asp-validation-summary="ModelOnly" class="alert alert-danger rounded-3 mb-4" role="alert"> </div>

	<input type="hidden" asp-for="JobId" />
	<button type="submit" class="btn btn-primary">Toewijzen</button>
</form>



